html,
body {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-align: center;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

#error {
  color: red;
  display: none;
}

#error.is-visible {
  display: block;
}

ul#todo-elements li {
  cursor: pointer;
}
