html,
body {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-align: center;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

.todo-input {
  padding: 10px;
  width: 100%;
}

.add-todo-button {
  padding: 10px 20px;
}

#error {
  color: red;
  display: none;
}
