:root {
  --color-urgent-overdue: #ffadad;
  --color-urgent-today: #ffd6a5;
  --color-urgent-soon: #fdffb6;
  --color-urgent-later: #caffbf;
}

html,
body {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: red;
  display: none;
  width: 100%;
  margin-bottom: 5px;
}

.error.is-visible {
  display: block;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border-bottom: 1px solid #eee;
}
.urgent-overdue {
  background-color: var(--color-urgent-overdue);
}

.urgent-today {
  background-color: var(--color-urgent-today);
}

.urgent-soon {
  background-color: var(--color-urgent-soon);
}

.urgent-later {
  background-color: var(--color-urgent-later);
}
